<div class="jumbotron", id="faq">
    <style>
    #faq {
        background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?cs=srgb&dl=pexels-lorenzo-242236.jpg&fm=jpg");
        background-size: cover
    }
    body {
        background-image: url("https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?cs=srgb&dl=pexels-efdal-yildiz-917494.jpg&fm=jpg");
        background-size: cover
    }
    </style>
    <h1>FAQ</h1>

    <ul>
    <li>
    <p>Q: What is Air Storage?</p>
    <p>A: Air Storage is an app allows your to find any host that meet your need to store your item for a while.</p></li>

    <li>
    <p>Q: What is Air Storage?</p>
    <p>A: Air Storage is an app allows your to find any host that meet your need to store your item for a while.</p></li>
    </ul>

 </div>
