
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script>$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>

<style>
body {
    background-image: url("assets/airstorage_homebkg.png");
    background-size: cover
}
</style>

<div class="home">
  <div class="center jumbotron", id="homepage">
  <h1>Welcome to AirStorage</h1>

  <h2>
    AirStorage will allow people to advertise available storage rooms in their homes 
    and for users to connect and try to find storage space for their things.
  </h2>

  </div>
    <div class="col text-center">
      <% if user_logged_in? %>
        <%= link_to "Find storage near me", search_page_path(:search_filter => 'location'), class: "btn btn-lg btn-primary" %>
      <% elsif host_logged_in? %>
        <%= link_to "Start to rent my space", "/listings/new", class: "btn btn-lg btn-primary" %>
      <% else %>
        <%= link_to "Sign up as a User!", new_user_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Become a host!", new_host_path , class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>


    <!-- Modal -->
    
  </div>
</div>
