<html>
    <p>Dear <%= @user.name%></p>
    <p>This is confirmation that you requested a to rent a space at: <strong><%= @listing.host.address%></strong></p>
    <p>We will alert you with updates</p>
</html>