<html>
  <head> 
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> 
  </head>

  <body>
    <h1>Welcome to AirStorage, <%= @user.name%></h1>
    <p>You have succesfully signed up, and now you can start renting spaces!</p>
    <p>Good Luck!</p>
  </body>
</html>

